.bio-data{
    text-align: center;
    
}
.bio-data input{
    width: 20%;
    padding: 20px;
    margin-block: 20px;
}
.bio-data button{
    width: 20%;
    padding: 20px;
}
.address-input button{
width: 90px;
margin-left: 20px;
}

