<form [formGroup]="forms" class="bio-data" (ngSubmit)="handleSubmit()">
  <div>
    <input formControlName="name" name="name" type="text" placeholder="Enter a name">
  </div>
  <div>
    <input formControlName="password" name="password" type="password" placeholder="********">
  </div>
  <div>
    <input formControlName="email" name="email" type="email" placeholder="Enter a email">
  </div>
  <div>
    <input formControlName="dob" name="dob" type="date">
  </div>

    <div formArrayName="address"> 
      <div class="address-input" *ngFor="let x of getAddress().controls; index as i">
        <input formControlName="address" [formControlName]="i" name="address" type="text" placeholder="Enter a address">
        <button type="button" (click)="addAddress()">Add</button>
        <button type="button" (click)="removeAddress(i)">Remove</button>
      </div>
     
    </div>
 
  <div>
    <button>submit</button>
  </div>
</form>